<footer>
  {{> subscription-form}}
  
  <div class="footer-copyright">
    Built with Claude.
    <a href="https://github.com/imax/maxua-public/">Follow us on GitHub</a>
    & contribute!
  </div>
</footer>
