<footer>
  {{> subscription-form}}
  
  <div class="footer-copyright">
    This site is powered by open source
    <a href="https://github.com/imax/maxua-public/">microblog engine</a>
    I wrote with Claude.
    <a href="https://github.com/imax/maxua-public/">Follow us on GitHub</a>
    -- feedback, bug reports
    and PRs are very much welcome!
  </div>
</footer>
