<footer>
  {{> subscription-form}}
  
  <div class="footer-copyright">
    Welcome to my little side project we are working on with my AI-team.
    Follow along, it will be fun!

    Found a bug or have an idea? Ping me via 
    <a href="mailto:ischenko@gmail.com">email</a> or Tg (@maxua).
  </div>
</footer>
