<section class="profile-section">
  <a href="/"><img src="/images/mouse.jpeg" alt="don't move my cheese avatar" class="profile-image" /></a>
  <div class="profile-info">
    <h1>Max Ischenko</h1>
    <div class="bio-content">
      Спочатку ДОУ, потім Djinni. Keep going &amp; підтримуй ЗСУ.
    </div>
    <div class="profile-nav">
      <a href="/" {{#if (eq activePage "home")}}class="active"{{/if}}>Home</a>
      <a href="/books" {{#if (eq activePage "books")}}class="active"{{/if}}>Books</a>
      <a href="/podcast" {{#if (eq activePage "podcast")}}class="active"{{/if}}>Podcast</a>
      <a href="/search" {{#if (eq activePage "search")}}class="active"{{/if}}>Search</a>
      <a href="/about" {{#if (eq activePage "about")}}class="active"{{/if}}>About me</a>
      <a href="/activity" {{#if (eq activePage "activity")}}class="active"{{/if}}>Activity</a>
      <a href="/compose" id="compose-link" {{#if (eq activePage "compose")}}class="active"{{else}}style="display: none;"{{/if}}>Compose</a>
    </div>
  </div>
</section>
