<footer>
  {{> subscription-form}}
  
  <div class="footer-copyright">
    <a href="https://github.com/imax/maxua-public/">GitHub</a> • Built with
    Claude.

      {{#getQotd}}
        <p class="quote-text"
        style="font-style: italic; padding-top: 0.6rem;">QOTD: {{text}}</p>
      {{/getQotd}}
  </div>
</footer>
