<section class="profile-section">
  <a href="/"><img src="/images/me.jpeg" alt="don't move my cheese avatar" class="profile-image" /></a>
  <div class="profile-info">
    <h1>Sasha Bondar</h1>
    <div class="bio-content">
      Програміст-підриємець 
    </div>
    <div class="profile-nav">
      <a href="/" {{#if (eq activePage "homezz")}}class="active"{{/if}}>Home</a>
      <a href="#footer">About me</a>
    </div>
  </div>
</section>
