<section class="profile-section">
  <a href="/"><img src="/images/mouse.jpeg" alt="don't move my cheese avatar" class="profile-image" /></a>
  <div class="profile-info">
    <h1>Max Ischenko</h1>
    <div class="bio-content">
      Спочатку ДОУ, тепер Djinni. Keep going &amp; підтримуй ЗСУ. 
    </div>
    <div class="profile-nav">
      <a href="/" {{#if (eq activePage "home")}}class="active"{{/if}}>Home</a>
      <a href="/books" {{#if (eq activePage "books")}}class="active"{{/if}}>Books</a>
      <a href="/podcast" {{#if (eq activePage "podcast")}}class="active"{{/if}}>Podcast</a>
    </div>
  </div>
</section>
